<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings p2:Transform="Replace" xmlns:p2="http://schemas.microsoft.com/XML-Document-Transform">
		<add name="db" connectionString="" providerName="" />
	</connectionStrings>
	<userSettings>
    	<WebApp40.My.MySettings p3:Transform="Replace" xmlns:p3="http://schemas.microsoft.com/XML-Document-Transform">
    		<add key="TestEnvironment" value="true" />
    	</WebApp40.My.MySettings>
	</userSettings>
	<applicationSettings>
    	<WebApp40.My.MySettings p3:Transform="Replace" xmlns:p3="http://schemas.microsoft.com/XML-Document-Transform">
    		<add key="TestEnvironment" value="true" />
    	</WebApp40.My.MySettings>
	</applicationSettings>
<moca>
    <settings xdt:Transform="Replace">
      <transaction type="scope" />
    </settings>
  </moca></configuration>
