<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net35" />
  <package id="elmah" version="1.2.2" targetFramework="net35" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net35" />
  <package id="log4net" version="2.0.3" targetFramework="net35" />
  <package id="MiYABiS.WebConfigTransform" version="1.0.2" targetFramework="net35" />
  <package id="Moca.NETConfiguration" version="1.0.1" targetFramework="net35" />
  <package id="Moca.NETCore" version="2.1.0" targetFramework="net35" />
  <package id="Moca.NETWebApp" version="2.1.0" targetFramework="net35" />
  <package id="Moca.NETWebFormsProject" version="3.1.0" targetFramework="net35" />
  <package id="MSBuild.Extension.Pack" version="1.8.0" targetFramework="net35" />
</packages>